{% extends 'Garage/index.html' %}
{% load static %}
{% block login %}
<head>
    <link rel="stylesheet" href="/static/registration/css/style.css">
</head>
    <div id="box_wrapper" class="container">
        <div class="login-wrap">
            <div class="login-html">
            <div class="alignright">
                <a href="{% url 'main' %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </a>
            </div>
                <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Логин</label>
                <input id="tab-2" type="radio" name="tab" class="sign-up" hidden><label for="tab-2" class="tab"></label>
                <div class="login-form">
                    {% if form.errors %}
                      <p>Пожалуйста, введите правильные имя пользователя и пароль.</p>
                    {% endif %}

                    {% if next %}
                      {% if user.is_authenticated %}
                        <p>Пожалуйста, войдите, чтобы увидеть эту страницу.</p>
                      {% endif %}
                    {% endif %}
                    <form class="contact-form" action="{% url 'login' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                        <div class="sign-in-htm">
                            <div class="group">
                                <label for="user" class="label">Имя пользователя</label>
                                <input id="user" name="username" type="text" class="input">
                            </div>
                            <div class="group">
                                <label for="pass" class="label">Пароль</label>
                                <input id="pass" name="password" type="password" class="input" data-type="password">
                            </div>
                            <div class="group">
                                <input id="check" type="checkbox" class="check" checked>
                                <label for="check"><span class="icon"></span>  Запомнить меня в системе</label>
                            </div>
                            <div class="group">
                                <input type="submit" class="button" value="Войти">
                                <input type="hidden" name="next" value="{{ next }}">
                            </div>
                            <div class="hr"></div>
                            <div id="block1"><a href="{% url 'django_registration_register' %}">Зарегистрироваться?</a></div>
                            <div id="block2"><a href="{% url 'password_reset' %}">Забыли пароль?</a></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
