{% extends 'Garage/index.html' %}
{% load static %}
{% block login %}
<head>
    <link rel="stylesheet" href="/static/registration/css/style.css">
</head>
    <div id="box_wrapper" class="container">
        <div class="login-wrap">
            <div class="login-html">
                <div class="login-form">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="group">
                            <h4 align="center">Забыли пароль?</h4>
                            <p>Для восстановления пароля введите действительный адрес электронной почты.</p>
                            <label for="email" class="label">Email</label>
                            <input id="email" name="email" type="text" class="input" placeholder="Адрес электронной почты">
                            <p></p>
                            {% if form.email.errors %} {{ form.email.errors }} {% endif %}
                            <div class="hr"></div>
                            <div class="group">
                                <input type="submit" class="button" value="Отправить">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

