{% extends 'Garage/index.html' %}
{% load static %}
{% block login %}
<head>
    <link rel="stylesheet" href="/static/registration/css/style.css">
</head>
  <div class="login-wrap">
	<div class="login-html">
        <div class="login-form">
            <h4 align="center">Пароль успешно изменен!</h4>
            <div class="hr"></div>
            <div class="group" align="center">
                <a href="{% url 'login' %}" type="submit" class="button" >Войти в GARAGE</a>
            </div>
        </div>
    </div>
  </div>

{% endblock %}