{% extends 'Garage/index.html' %}
{% load static %}
{% block login %}
<head>
    <link rel="stylesheet" href="/static/registration/css/style.css">
</head>
    <div id="box_wrapper" class="container">
        <div class="login-wrap">
            <div class="login-html">
                <div style="text-align: right">
                    <a href="{% url 'main' %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                        </svg>
                    </a>
                </div>
                <div class="login-form">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="group">
                            <h4 align="center">Забыли пароль?</h4>
                            <p>Для восстановления пароля введите действительный адрес электронной почты.</p>
                            <label for="email" class="label">Email</label>
                            <input id="email" name="email" type="text" class="input" placeholder="Адрес электронной почты">
                            <p></p>
                            {% if form.email.errors %} {{ form.email.errors }} {% endif %}
                            <div class="hr"></div>
                            <div class="group">
                                <input type="submit" class="button" value="Отправить">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

