{% extends 'Garage/index.html' %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="/static/registration/css/style.css">
</head>
  <div class="login-wrap">
	<div class="login-html">
        <div class="login-form">
            {% if validlink %}
                <h4 align="center">Восстановите пароль</h4>
                <p>Пожалуйста, введите (и подтвердите) ваш новый пароль.</p>
                <div class="sign-up-html">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="group">
                            <label for="new_password1" class="label">Введите новый пароль:</label>
                            <input id="new_password1" name="new_password1" type="password" required="" class="input" data-type="password" value="">
                            <p></p>
                            <td>{{ form.new_password1.errors }}</td>
                        </div>
                        <p></p>
                        <div class="group">
                            <label for="new_password2" class="label">Повторите пароль:</label>
                            <input id="new_password2" name="new_password2" type="password" required="" class="input" data-type="password" value="">
                            <p></p>
                            <td>{{ form.new_password2.errors }}
                        </div>
                        <div class="hr"></div>
                        <div class="group">
                            <input type="submit" class="button" value="Сохранить" />
                        </div>
                    </form>
                </div>
            {% else %}
                <h4>Не удалось сбросить пароль</h4>
                <p>Ссылка для сброса пароля недействительна, возможно, потому, что она уже использовалась.</p>
                <a href="{% url 'password_reset' %}">Запросите новый сброс пароля?</a>
            {% endif %}
        </div>
    </div>
  </div>
{% endblock %}