{% extends 'Garage/index.html' %}
{% load static %}
{% block content %}
    <section class="page_breadcrumbs ds parallax section_padding_top_15 section_padding_bottom_15">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2>Добавить улучшение</h2>
                    <ol class="breadcrumb greylinks">
                        <li>Опции</li>
                        <li> <a href="{% url "improvements" %}">Улучшения</a> </li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="ls section_padding_top_100 section_padding_bottom_100 columns_padding_25">
        <div class="container">
            <div class="row">
                <form class="contact-form" action="{% url 'add_improvement' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                    <div class="col-sm-7 col-md-8 col-lg-9">
                        <p class="contact-form">
                            <input type="text" required="true" size="30" value name="name" class="contact-form-name" placeholder="Название" title="Название">
                            <input type="text" aria-required="true" size="30" value name="description" class="contact-form-description" placeholder="Описание" title="Описание">
                        </p>
                        <p>
                            <input type="float" step="0.01" aria-required="false" size="30" value name="price" class="contact-form-price" placeholder="Стоимость" title="Стоимость">
                                {{ errors.price }}
                            {% if cars %}
                                    <p class="contact-form">
                                        <label for="car">Выбери автомобиль:</label>
                                        <select name="car" id="car_id" value="{{ car.id }}">
                                            {% for car in cars %}
                                                <option value="{{ car.id }}">{{ car.producer }}, {{ car.model }}</option>
                                            {% endfor %}
                                        </select>
                                    </p>
                            {% endif %}
                        </p>
                        <input type="submit" value="Сохранить" class="btn-default">
                        <input class="theme_button color1 min_width_button" type="button" value="Отменить" onclick="goBack()">
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}