{% extends 'Garage/index.html' %}
{% load static %}
{% block content %}
    <section class="page_breadcrumbs ds parallax section_padding_top_15 section_padding_bottom_15">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2>Добавить машину</h2>
                    <ol class="breadcrumb greylinks">
                        <li>Список</li>
                        <li> <a href="{% url "cars" %}">Машины</a> </li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="ls section_padding_top_100 section_padding_bottom_100 columns_padding_25">
        <div class="container">
            <div class="row">
                <form class="contact-form" action="{% url 'add_car' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
{#                    <!-- Add car photo -->#}
{#                    <div class="col-sm-5 col-md-4 col-lg-3">#}
{#                        <div class="vertical-item content-padding rounded overflow_hidden with_background">#}
{#                            <div class="item-media"> <img src="/static/images/team/01.jpg" alt="">#}
{#                                <div class="media-links ds">#}
{#                                    <div class="bottom-links"> <a href="team-single.html" class="theme_button inverse">View profile</a> </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="item-content bottom_color_border">#}
{#                                <h4 class="entry-title bottommargin_0"> <a href="team-single.html">Добавить фото</a> </h4>#}
{#                                <p class="small-text highlight bottommargin_10">Director</p>#}
{#                                <p class="social-links"> <a class="social-icon socicon-facebook" href="#" title="Facebook"></a> <a class="social-icon socicon-twitter" href="#" title="Twitter"></a> <a class="social-icon socicon-google" href="#" title="Twitter"></a> </p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <!-- end Car photo -->#}
                    <div class="col-sm-7 col-md-8 col-lg-9">
                        <p class="contact-form">
                            <input type="text" required="true" size="30" value name="producer" class="contact-form-producer" placeholder="Марка">
                            <input type="text" required="true" size="30" value name="model" class="contact-form-model" placeholder="Модель">
                        </p>
                        <p class="contact-form">
                            <input type="text" aria-required="false" min="17" max="17" size="30" value name="vin" class="contact-form-vin" placeholder="VIN-код">
                               {{ errors.vin }}
                        </p>
                        <p class="contact-form">
                            <input type="number" required="true" size="30" value name="year" class="contact-form-year" placeholder="Год">
                                {{ errors.year }}
                            <input type="number" aria-required="false" size="30" value name="mileage" class="contact-form-mileage" placeholder="Пробег">
                                {{ errors.mileage }}
                        </p>
                        <p class="contact-form">
                            <label for="transmission">Выбери тип КПП:</label>
                            <select name="transmission" id="transmission" required>
                              <option hidden disabled selected value> Тип КПП </option>
                              <option value="ручная/механика">Ручная/Механика</option>
                              <option value="автомат">Автомат</option>
                              <option value="типтроник">Типтроник</option>
                              <option value="робот">Робот</option>
                              <option value="вариатор">Вариатор</option>
                            </select>

                            <label for="drive_system">Выбери тип привода:</label>
                            <select name="drive_system" id="drive_system" required>
                              <option hidden disabled selected value> Тип привода </option>
                              <option value=1>Полный</option>
                              <option value=2>Передний</option>
                              <option value=3>Задний</option>
                            </select>
                        </p>
                        <p class="contact-form">
                            <label for="fuel">Выбери тип топлива:</label>
                            <select name="fuel" id="fuel" required>
                              <option hidden disabled selected value> Тип топлава </option>
                              <option value=1>Бензин</option>
                              <option value=2>Дизель</option>
                              <option value=3>Газ</option>
                              <option value=4>Газ/Бензин</option>
                              <option value=5>Гибрид</option>
                              <option value=6>Электро</option>
                              <option value=7>Газ метан</option>
                              <option value=8>Газ пропан-бутан</option>
                              <option value=9>Другое</option>
                            </select>

                            <input type="number" aria-required="false" size="30" value name="price" class="contact-form-price" placeholder="Стоимость">
                                {{ errors.price }}
                        </p>
                        <p class="contact-form">
                            <input type="text" aria-required="false" size="30" value name="body" class="contact-form-body" placeholder="Тип кузова">
                                {{ errors.body }}
                            <input type="text" aria-required="false" size="30" value name="engine" class="contact-form--engine" placeholder="Тип двигателя">
                                {{ errors.engine }}
                        </p>
                        <input type="submit" value="Сохранить" class="btn-default">
                        <a class="theme_button color1 min_width_button" href="{% url 'cars' %}">Отменить</a>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}