{% extends 'Garage/index.html' %}
{% load static %}
{% block content %}
<section class="page_breadcrumbs ds parallax section_padding_top_15 section_padding_bottom_15">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>Проблемы с автомобилями</h2>
                <ol class="breadcrumb greylinks">
                    <li>Архив</li>
                    <li>Проблемы с автомобилями</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="ls page_portfolio section_padding_top_100 section_padding_bottom_100">
    <div class="container">
        {% if message %}
            <p>{{ message }}</p>
        {% else %}
            <div class="isotope_container isotope row masonry-layout columns_margin_bottom_20">
            {% if page_obj_issues.paginator.num_pages %}
                <table>
                    <tr>
                        <th>Название</th>
                        <th>Описание</th>
                        <th>Дата</th>
                        <th>Состояние</th>
                        <th>Автомобиль</th>
                    </tr>
                    {% for i in page_obj_issues %}
                        <tr>
                            <td>{{ i.name }} <a data-toggle="modal" data-target="#UnarchiveIssue" href="{% url 'unarchive_issue' issue_id=i.id %}"><span class="glyphicon glyphicon-open small-text alignright"></span></a></td>
                            {% if i.description %}<td>{{ i.description }}</td>{% else %}<td></td>{% endif %}
                            <td>{{ i.date }}</td>
                            {% if i.close is False %}
                                <td>Поломка не устранена</td>
                            {% elif i.close is True %}
                                <td>Поломка устранена</td>
                            {% else %}
                                <td></td>
                            {% endif %}
                            <td><a href="{% url 'car_profile' car_id=i.car_id %}">{{ i.car }}</a></td>
                        </tr>
                    {% endfor %}
                </table>
                <!-- PAGINATION BLOCK -->
                    {% include "Garage/pagination.html" with obj=page_obj_issues  tabnumber='13'%}
                <!-- END PAGINATION -->
            {% endif %}
            </div>
        {% endif %}
        <!-- Popup -->
        <div id ="UnarchiveIssue" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                </div>
            </div>
        </div>
        <!-- End Popup -->
    </div>
</section>
{% endblock %}