{% extends 'Garage/index.html' %}
{% load static %}
{% block content %}
<section class="page_breadcrumbs ds parallax section_padding_top_15 section_padding_bottom_15">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>Поломки</h2>
                <ol class="breadcrumb greylinks">
                    <li> <a href="#">
                Главная
            </a> </li>
                    <li class="active"> <a href="{% url "archived_issues" %}">Заархивированные поломки</a> </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="ls page_portfolio section_padding_top_100 section_padding_bottom_100">
    <div class="container">
        {% if message %}
            <p>{{ message }}</p>
        {% else %}
            <div class="isotope_container isotope row masonry-layout columns_margin_bottom_20">
                <table>
                  <tr>
                      <th>Название</th>
                      <th>Описание</th>
                      <th>Дата</th>
                      <th>Состояние</th>
                      <th>Автомобиль</th>
                  </tr>
                    {% for item in issues %}
                        {% for i in item %}
                          <tr>
                              <td><a data-toggle="modal" data-target="#MyModal" href="#">{{ i.name }}</a></td>
                              <td>{{ i.description }}</td>
                              <td>{{ i.date }}</td>
                              <td>{{ i.close }}</td>
                              <td>{{ i.car }}</td>
                          </tr>
                        {% endfor %}
                    {% endfor %}
                </table>
            </div>
        {% endif %}
        <!-- Popup -->
                    <div id ="MyModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                            </div>
                        </div>
                    </div>
        <!-- End Popup -->
    </div>
</section>
{% endblock %}