{% extends 'Garage/index.html' %}
{% load static %}
{% block content %}
<section class="page_breadcrumbs ds parallax section_padding_top_15 section_padding_bottom_15">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>Страховки</h2>
                <ol class="breadcrumb greylinks">
                    <li> <a href="{% url 'cars' %}">
                Главная
            </a> </li>
                    <li> Архив </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="ls page_portfolio section_padding_top_100 section_padding_bottom_100">
    <div class="container">
        {% if message %}
            <p>{{ message }}</p>
        {% else %}
            <div class="isotope_container isotope row masonry-layout columns_margin_bottom_20">
                <table>
                  <tr>
                      <th>Тип страховки</th>
                      <th>Описание</th>
                      <th>Номер полиса</th>
                      <th>Дата начала</th>
                      <th>Дата окончания</th>
                      <th>Стоимость</th>
                      <th>Автомобиль</th>
                  </tr>
                    {% for item in insrnc %}
                        {% for i in item %}
                          <tr>
                              <td>{{ i.type }}<a data-toggle="modal" data-target="#UnarchiveInsurance" href="{% url 'unarchive_insurance' insrnc_id=i.id %}"><span class="glyphicon glyphicon-open small-text alignright"></span></a></td>
                              {% if i.description %}<td>{{ i.description }}</td>{% else %}<td></td>{% endif %}
                              <td>{{ i.policy_number }}</td>
                              <td>{{ i.start_date }}</td>
                              <td>{{ i.end_date }}</td>
                              {% if i.price %}<td>{{ i.price }}</td>{% else %}<td></td>{% endif %}
                              <td><a href="{% url 'car_profile' car_id=i.car_id %}">{{ i.car }}</a></td>
                          </tr>
                        {% endfor %}
                    {% endfor %}
                </table>
            </div>
        {% endif %}
        <!-- Popup -->
        <div id ="UnarchiveInsurance" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                </div>
            </div>
        </div>
        <!-- End Popup -->
    </div>
</section>
{% endblock %}