{% extends 'Garage/index.html' %}
{% load static %}
{% block content %}
<section class="page_breadcrumbs ds parallax section_padding_top_15 section_padding_bottom_15">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>Автомобили</h2>
                <ol class="breadcrumb greylinks">
                    <li> <a href="{% url 'cars' %}">
                Главная
            </a> </li>
                    <li> Архив </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="ls page_portfolio section_padding_top_100 section_padding_bottom_100">
    <div class="container">
        {% if message %}
            <p>{{ message }}</p>
        {% else %}
            <div class="isotope_container isotope row masonry-layout columns_margin_bottom_20">
                <table>
                  <tr>
                      <th>Марка</th>
                      <th>Модель</th>
                      <th>VIN-код</th>
                      <th>Год выпуска</th>
                      <th>Тип привода</th>
                      <th>Тип топлива</th>
                      <th>Тип коробки</th>
                      <th>Пробег</th>
                      <th>Стоимость</th>
                  </tr>
                    {% for car in cars %}
                      <tr>
                          <td>{{ car.producer }} <a data-toggle="modal" data-target="#UnarchiveCar" href="{% url 'unarchive_car' car_id=car.id %}"><span class="glyphicon glyphicon-open small-text alignright"></span></a></td>
                          <td>{{ car.model }}</td>
                          <td>{{ car.vin }}</td>
                          <td>{{ car.year }}</td>
                          <td>{{ car.get_transmission_display }}</td>
                          <td>{{ car.get_fuel_display }}</td>
                          <td>{{ car.get_drive_system_display }}</td>
                          <td>{{ car.mileage }}</td>
                          <td>{{ car.price }}</td>
                      </tr>
                    {% endfor %}
                </table>
            </div>
        {% endif %}
        <!-- Popup for unarchive the car -->
        <div id ="UnarchiveCar" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                </div>
            </div>
        </div>
        <!-- End Popup -->
    </div>
</section>
{% endblock %}