{% extends 'Garage/index.html' %}
{% load static %}
{% load humanize %}
{% block content %}
    <section class="page_breadcrumbs ds parallax section_padding_top_15 section_padding_bottom_15">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2>Описание машины</h2>
                    <ol class="breadcrumb greylinks">
                        <li> <a href="#">
                    Главная
                </a> </li>
                        <li> <a href="{% url "cars" %}">Машины</a> </li>
                        <li class="active">Описание машины</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="ls section_padding_top_100 section_padding_bottom_100 columns_padding_25">
        <div class="container">
            <div class="row">
                <!-- Car photo -->
                <div class="col-sm-5 col-md-4 col-lg-3">
                    <div class="vertical-item content-padding rounded overflow_hidden with_background">
                        {% if image %}
                            <div class="item-media"> <img src="{{ image.image }}" alt="">
                                <div class="media-links ds">
                                    <div class="bottom-links"> <a data-toggle="modal" data-target="#AddOrUpdateCarPhoto" href="{% url 'upload_image' car_id=car.id %}" class="theme_button inverse">Изменить фото</a> </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="item-content bottom_color_border">
                                <h4 class="entry-title bottommargin_0"> <a data-toggle="modal" data-target="#AddOrUpdateCarPhoto" href="{% url 'upload_image' car_id=car.id %}">Добавить фото</a> </h4>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <!-- End Car Photo -->

                <!-- Car description -->
                <div class="col-sm-5 col-md-6 col-lg-7">
                    <p>Марка: {{ car.producer|title }}</p>
                    <p>Модель: {{ car.model|title }}</p>
                    <p style="display: {{ car.vin }}">VIN-код: {{ car.vin|upper }}</p>
                    <p>Год выпуска: {{ car.year }}</p>
                    <p style="display: {{ car.engine }}">Тип кузова: {{ car.body|title }}</p>
                    <p>Тип привода: {{ car.get_transmission_display }}</p>
                    <!-- Интерпритировать цифры в текст -->
                    <p>Тип топлива: {{ car.get_fuel_display }}</p>
                    <p>Тип коробки: {{ car.get_drive_system_display }}</p>
                    <p style="display: {{ car.mileage }}">Пробег: {{ car.mileage|intcomma }}</p>
                    <!-- Добавить стоимость в грн и дол -->
                    <p style="display: {{ car.price }}">Стоимость: {{ car.price|floatformat|intcomma }}$</p>
                    <p style="display: {{ car.engine }}">Двигатель: {{ car.engine|title }}</p>

                    <a class="theme_button color1 min_width_button" href="{% url 'update_car' car_id=car.id %}">Изменить <span class="glyphicon glyphicon-pencil"> </span></a>
                    <!-- Nav tabs -->
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2 text-right">
                    {% if car.archive %}
                        <a class="small-text" data-toggle="modal" data-target="#ArchivedCar" href="{% url 'unarchive_car' car_id=car.id %}">вернуть из архива
                            <span class="glyphicon glyphicon-inbox"></span>
                        </a>
                    {% else %}
                        <a class="small-text" data-toggle="modal" data-target="#ArchivedCar" href="{% url 'archive_car' car_id=car.id %}" >в архив
                            <span class="glyphicon glyphicon-inbox"></span>
                        </a>
                    {% endif %}
                </div>
                <div class="col-sm-5 col-md-4 col-lg-3"></div>
                <div class="col-sm-7 col-md-8 col-lg-9">
                    <ul class="nav nav-tabs topmargin_40" role="tablist">
                        <li><a href="#tab1" role="tab" data-toggle="tab">Страховка</a></li>
                        <li><a href="#tab2" role="tab" data-toggle="tab">Ремонт</a></li>
                        <li><a href="#tab3" role="tab" data-toggle="tab">Проблемы с автомобилем</a></li>
                        <li><a href="#tab4" role="tab" data-toggle="tab">Улучшения</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content big-padding top-color-border bottommargin_40">
                        <div class="tab-pane fade" id="tab1">
                            <h4>Страховка:</h4>
                            {% if insurances %}
                                {% for insurance in insurances %}
                                <p>Тип страхового плана: {{ insurance.type }}</p>
                                <p>Номер страхового плана: {{ insurance.policy_number }}</p>
                                <p>Дата начала: {{ insurance.start_date }}</p>
                                <p>Дата окончания: {{ insurance.end_date }}</p>
                                <p>Описание: {{ insurance.description }}</p>
                                <p style="display: {{ insurance.price }}">Стоимость: {{ insurance.price|stringformat:".2f"|intcomma }}</p>
                                <a href="{% url 'update_insurance' insrnc_id=insurance.id %}" class="small-text highlight">Изменить</a>
                                    <p></p>
                                    <p></p>
                                {% endfor %}
                            {% else %}
                                <p>У вас нет добавленных страховых планов</p>
                            {% endif %}
                            <a href="{% url 'add_insurance' %}" class="theme_button color1 min_width_button">Добавить страховку</a>
                        </div>
                        <div class="tab-pane fade" id="tab2">
                            <h4>Ремонт:</h4>
                                <a href="{% url 'add_repair' %}" class="theme_button color1 min_width_button">Добавить ремонт</a>
                                {% if repair %}
                                    <table>
                                      <tr>
                                          <th>Тип ремонта</th>
                                          <th>Название</th>
                                          <th>Пробег</th>
                                          <th>Стоимость</th>
                                          <th>Дата</th>
                                      </tr>
                                          {% for r in repair %}
                                          <tr>
                                              <td><a href="{%  url 'update_repair' repair_id=r.id %}">{{ r.get_type_of_repair_display }}</a></td>
                                              <td>{{ r.name }}</td>
                                              <td>{{ r.mileage }}</td>
                                              <td>{{ r.price }}</td>
                                              <td>{{ r.date}}</td>
                                          </tr>
                                          {% endfor %}
                                    </table>
                                {% else %}
                                    <p>У вас нет добавленных ремонтов</p>
                                {% endif %}
                        </div>
                        <div class="tab-pane fade" id="tab3">
                            <h4>Проблемы с автомобилем:</h4>
                            <a href="{% url 'add_issue' %}" class="theme_button color1 min_width_button">Добавить текущую поломку</a>
                            {% if car_issues %}
                                <table>
                                    <tr>
                                        <th>Название</th>
                                        <th>Описание</th>
                                        <th>Дата создания</th>
                                        <th>Состояние</th>
                                    </tr>
                                    {% for car_issue in car_issues %}
                                        {% if car_issue %}
                                            <tr>
                                                <td><a href="{%  url 'update_issue' issue_id=car_issue.id %}">{{ car_issue.name }}</a></td>
                                                <td>{{ car_issue.description }}</td>
                                                <td>{{ car_issue.date }}</td>
                                                {% if car_issue.close %}
                                                    <td>поломка устранена</td>
                                                {% else %}
                                                    <td>поломка не устранена</td>
                                                {% endif %}
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                </table>
                            {% else %}
                                <p>Нет текущих проблем с автомобилем</p>
                            {% endif %}
                        </div>
                        <div class="tab-pane fade" id="tab4">
                            <h4>Улучшения:</h4>
                            {% if improvement %}
                                {% for i in improvement %}
                                <p>Название: {{ i.name }}</p>
                                <p style="display: {{ i.description }}">Описание: {{ i.description }}</p>
                                <p style="display: {{ i.price }}">Стоимость: {{ i.price|stringformat:".2f"|intcomma }}</p>
                                <p>Состояние: {% if i.close %} не актуально {% else %} актуально {% endif %}</p>
                                <p>Дата создания: {{ i.date }}</p>
                                <a href="{% url 'update_improvement' impr_id=i.id %}" class="small-text highlight">Изменить</a>
                                <p></p>
                                <p></p>
                                {% endfor %}
                            {% else %}
                                <p>Улучшений нет</p>
                            {% endif %}
                            <a href="{% url 'add_improvement' %}" class="theme_button color1 min_width_button">Добавить текущее улучшение</a>
                        </div>
                    </div>
                    <!-- Popup for add or update car photo -->
                    <div id ="AddOrUpdateCarPhoto" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                            </div>
                        </div>
                    </div>
                    <!-- End Popup -->
                    <!-- Popup for archived car -->
                    <div id ="ArchivedCar" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                            </div>
                        </div>
                    </div>
                    <!-- End Popup -->
                </div>
            </div>
        </div>
    </section>
{% endblock%}
