{% extends 'Garage/index.html' %}
{% load static %}
{% block content %}
<section class="page_breadcrumbs ds parallax section_padding_top_15 section_padding_bottom_15">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>Проблемы с автомобилем</h2>
                <ol class="breadcrumb greylinks">
                    <li> <a href="#">
                Главная
            </a> </li>
                    <li class="active"> <a href="{% url "car_issues" %}">Проблемы с автомобилем</a> </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="ls page_portfolio section_padding_top_100 section_padding_bottom_100">
    <div class="container">
        {% if message %}
            <p>{{ message }}</p>
            <a class="theme_button color1 min_width_button" href="{% url 'add_car' %}">Добавить автомобиль</a>
        {% else %}
            <a class="theme_button color1 min_width_button" href="{% url 'add_issue' %}">Добавить поломку</a>
            <div class="isotope_container isotope row masonry-layout columns_margin_bottom_20">
                {% if car_issues %}
                    <table>
                      <tr>
                          <th>Название</th>
                          <th>Описание</th>
                          <th>Дата создания</th>
                          <th>Состояние</th>
                          <th>Автомобиль</th>
                      </tr>
                        {% for car_issue in car_issues %}
                            {% if car_issue %}
                                  {% for c_i in car_issue %}
                                  <tr>
                                      <td><a href="{%  url 'update_issue' issue_id=c_i.id %}">{{ c_i.name }}</a></td>
                                      {% if c_i.description %}<td>{{ c_i.description }}</td>{% else %}<td></td>{% endif %}
                                      <td>{{ c_i.date }}</td>
                                      {% if c_i.close is False %}<td>поломка не устранена</td>{% else %}<td>поломка устранена</td>{% endif %}
                                      <td>{{ c_i.car }}</td>
                                  </tr>
                                  {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </table>
                {% else %}
                    <p>У вас нет существующих проблем с автомобилем</p>
                {% endif %}
            </div>
        {% endif %}
    </div>
</section>
{% endblock %}