{% extends 'Garage/index.html' %}
{% load static %}
{% block content %}
<section class="page_breadcrumbs ds parallax section_padding_top_15 section_padding_bottom_15">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>Машины</h2>
                <ol class="breadcrumb greylinks">
                    <li> <a href="#">
                Главная
            </a> </li>
                    <li class="active"> <a href="{% url "cars" %}">Машины</a> </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="ls page_portfolio section_padding_top_100 section_padding_bottom_100">
    <div class="container">
        <div class="isotope_container isotope row masonry-layout columns_margin_bottom_20">
            {% for car in cars %}
            <div class="isotope-item col-sm-6 col-md-4 col-lg-3">
                <div class="vertical-item content-padding rounded overflow_hidden with_background">
                    <div class="item-media"> <img src="/static/img/pattern0.png" alt=""> </div>
                    <div class="item-content bottom_color_border">
                        <h4 class="entry-title"> <a href="{% url "car_profile" car_id=car.id %}">{{ car.producer }} {{ car.model }}</a> </h4>
                        <p class="content-3lines-ellipsis">{{ car.year }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}