{% extends 'Garage/index.html' %}
{% load static %}
{% block content %}
<section class="page_breadcrumbs ds parallax section_padding_top_15 section_padding_bottom_15">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>Машины</h2>
                <ol class="breadcrumb greylinks">
                    <li> <a href="#">
                Главная
            </a> </li>
                    <li class="active"> <a href="{% url "cars" %}">Машины</a> </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="ls page_portfolio section_padding_top_100 section_padding_bottom_100">
    <div class="container">
        {% if message %}
            <p>{{ message }}</p>
            <a class="theme_button color1 min_width_button" href="{% url 'add_car' %}">Добавить автомобиль</a>
        {% else %}
            <a class="theme_button color1 min_width_button" href="{% url 'add_car' %}">Добавить автомобиль</a>
            <div class="isotope_container isotope row masonry-layout columns_margin_bottom_20">
                {% for car in page_obj %}
                    <div class="isotope-item col-sm-6 col-md-4 col-lg-3">
                        <a href="{% url 'car_profile' car_id=car.id %}">
                            <div class="vertical-item content-padding rounded overflow_hidden with_background">
                                    <div class="item-media">
                                        <div class="car_photo">
                                            <img src="{{ images|get_car_id_for_image:car.id }}" alt="">
                                        </div>
                                    </div>
                                    <div class="item-content bottom_color_border">
                                        <h5>{{ car.producer }} <p>{{ car.model }}</p></h5>
                                        <p>{{ car.year }}</p>
                                    </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <!-- PAGINATION BLOCK -->
            {% if page_obj.paginator.num_pages > 1 %}
                <div class="container"
                    <div class="pagination" align="center">
                        <span class="step-links">
                        <p></p>
                            {% if page_obj.has_previous %}
                                <a href="?page=1">&laquo;</a>
                                {% if page_obj.paginator.num_pages > 2 %}
                                    <a href="?page={{ page_obj.previous_page_number }}">назад</a>
                                {% endif %}
                            {% endif %}
                                <span class="current">
                                    {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
                                </span>
                            {% if page_obj.has_next %}
                                {% if page_obj.paginator.num_pages > 2 %}
                                    <a href="?page={{ page_obj.next_page_number }}">вперед</a>
                                {% endif %}
                                <a href="?page={{ page_obj.paginator.num_pages }}"> &raquo;</a>
                            {% endif %}
                        </span>
                    </div>
                </div>
            {% endif %}
            <!-- END PAGINATION -->
        {% endif %}
    </div>
</section>
{% endblock %}