{% extends 'Garage/index.html' %}
{% load static %}
{% block content %}
{% include 'Garage/about_company.html' %}
{% include 'Garage/services.html' %}
    <section class="ls section_padding_top_100 section_padding_bottom_75">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <form class="contact-form columns_padding_5" method="POST" action="#message" enctype="multipart/form-data">
                    {% csrf_token %}
                        <div class="row">
                            <h3 class="section_header text-center"> Связаться с нами </h3>
                            {% if message %}
                                <p id="message">{{ message }}</p>
                            {% endif %}
                            <div class="col-sm-6">
                                <p class="form-group"> <label for="name">Full Name <span class="required">*</span></label> <i class="fa fa-user highlight" aria-hidden="true"></i> <input type="text" aria-required="true" size="50" value="" name="name" id="name" class="form-control" placeholder="ФИО"></p>
                                <p class="form-group"> <label for="from_email">Email address<span class="required">*</span></label> <i class="fa fa-envelope highlight" aria-hidden="true"></i> <input type="email" aria-required="true" size="30" value="" name="from_email" id="email" class="form-control" placeholder="Email"></p>
                                <p class="form-group"> <label for="subject">Subject<span class="required">*</span></label> <i class="fa fa-flag highlight" aria-hidden="true"></i> <input type="text" aria-required="true" size="30" value="" name="subject" id="subject" class="form-control" placeholder="Тема"></p>
                            </div>
                            <div class="col-sm-6">
                                <p class="contact-form-message form-group"> <label for="message">Message</label> <i class="fa fa-comment highlight" aria-hidden="true"></i> <textarea aria-required="true" rows="3" cols="45" name="message" id="message" class="form-control" placeholder="Сообщение"></textarea> </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="contact-form-submit text-center topmargin_10">
                                    <button type="submit" id="contact_form_submit" name="contact_submit" class="theme_button color1">Отправить</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}