{% extends 'Garage/index.html' %}
{% load static %}
{% block content %}
    <section id="about" class="ls section_padding_top_100 section_padding_bottom_75 columns_margin_bottom_30">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-push-6">
                    <div class="embed-responsive embed-responsive-3by2">
                        <a href="https://player.vimeo.com/video/1084537" class="embed-placeholder">
                            <img src="static/images/gallery/11.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-md-pull-6">
                    <span class="small-text big highlight">
                    </span>
                    <h2 class="section_header"> О нашей компании </h2>
                    <hr class="divider_60_2 main_bg_color">
                    <p> Наша компания готова помочь клиентам отслеживать и оптимизировать расходы связанные с транспортными средствами. </p>
                </div>
            </div>
        </div>
    </section>
    <section id="services" class="ds section_padding_top_100 section_padding_bottom_100 section_padding_bottom_25">
        <div class="container">
            <div class="row">
                <div class="col-md-12" align="center">
                    <div class="small-text big highlight">
                        С GARAGE вы контролируете
                    </div>
                </div>
            </div>
            <div class="row with_top_border toppadding_50 topmargin_30">
                <div class="col-md-3 col-sm-6">
                    <div class="media">
                        <div class="media-left media-middle">
                            <div class="teaser_icon size_small border_icon image_icon round highlight"> <img src="https://img.icons8.com/ios/50/ffffff/activity-history.png"/> </div>
                        </div>
                        <div class="media-body media-middle">
                            <h5 class="text-uppercase semibold"> <a href="#">История обслуживания</a> </h5>
                                <p>Отслеживание технического обслуживания и его стоимость</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="media">
                        <div class="media-left media-middle">
                            <div class="teaser_icon size_small border_icon image_icon round highlight"> <img src="https://img.icons8.com/ios/50/ffffff/car-insurance-card.png"/> </div>
                        </div>
                        <div class="media-body media-middle">
                            <h5 class="text-uppercase semibold"> <a href="#">Страхование</a> </h5>
                                <p>Управление страхавкой и настройка напоминаний</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="media">
                        <div class="media-left media-middle">
                            <div class="teaser_icon size_small border_icon image_icon round highlight"> <img src="https://img.icons8.com/external-kiranshastry-lineal-kiranshastry/64/ffffff/external-service-automobile-kiranshastry-lineal-kiranshastry.png"/> </div>
                        </div>
                        <div class="media-body media-middle">
                            <h5 class="text-uppercase semibold"> <a href="#">Замена запчастей</a> </h5>
                                <p>Добавление стоимости, модели и даты установки запчастей</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="media">
                        <div class="media-left media-middle">
                            <div class="teaser_icon size_small border_icon image_icon round highlight"> <img src="https://img.icons8.com/fluency-systems-regular/48/ffffff/check-document.png"/> </div>
                        </div>
                        <div class="media-body media-middle">
                            <h5 class="text-uppercase semibold"> <a href="#">Инспекция</a> </h5>
                                <p>Создание списка элементов отмеченных как нерабочие </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="ls section_padding_top_100 section_padding_bottom_75">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <form class="contact-form columns_padding_5" method="POST" action="#message" enctype="multipart/form-data">
                    {% csrf_token %}
                        <div class="row">
                            <h3 class="section_header text-center"> Связаться с нами </h3>
                            {% if message %}
                                <p id="message">{{ message }}</p>
                            {% endif %}
                            <div class="col-sm-6">
                                <p class="form-group"> <label for="name">Full Name <span class="required">*</span></label> <i class="fa fa-user highlight" aria-hidden="true"></i> <input type="text" aria-required="true" size="50" value="" name="name" id="name" class="form-control" placeholder="ФИО"></p>
                                <p class="form-group"> <label for="from_email">Email address<span class="required">*</span></label> <i class="fa fa-envelope highlight" aria-hidden="true"></i> <input type="email" aria-required="true" size="30" value="" name="from_email" id="email" class="form-control" placeholder="Email"></p>
                                <p class="form-group"> <label for="subject">Subject<span class="required">*</span></label> <i class="fa fa-flag highlight" aria-hidden="true"></i> <input type="text" aria-required="true" size="30" value="" name="subject" id="subject" class="form-control" placeholder="Тема"></p>
                            </div>
                            <div class="col-sm-6">
                                <p class="contact-form-message form-group"> <label for="message">Message</label> <i class="fa fa-comment highlight" aria-hidden="true"></i> <textarea aria-required="true" rows="3" cols="45" name="message" id="message" class="form-control" placeholder="Сообщение"></textarea> </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="contact-form-submit text-center topmargin_10">
                                    <button type="submit" id="contact_form_submit" name="contact_submit" class="theme_button color1">Отправить</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}