{% extends 'Garage/index.html' %}
{% load static %}
{% block content %}
<section class="page_breadcrumbs ds parallax section_padding_top_15 section_padding_bottom_15">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>Улучшения</h2>
                <ol class="breadcrumb greylinks">
                    <li>Опции</li>
                    <li>Улучшения</a> </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="ls page_portfolio section_padding_top_100 section_padding_bottom_100">
    <div class="container">
        {% if message %}
            <p>{{ message }}</p>
            <a class="theme_button color1 min_width_button" href="{% url 'add_car' %}">Добавить автомобиль</a>
        {% else %}
            <a class="theme_button color1 min_width_button" href="{% url 'add_improvement' %}">Добавить улучшение</a>
            <div class="isotope_container isotope row masonry-layout columns_margin_bottom_20">
                {% if page_obj_improvements.paginator.num_pages %}
                    <table>
                      <tr>
                          <th>Название</th>
                          <th>Описание</th>
                          <th>Состояние</th>
                          <th>Стоимость</th>
                          <th>Автомобиль</th>
                      </tr>
                          {% for i in page_obj_improvements %}
                              <tr>
                                  <td><a href="{%  url 'update_improvement' impr_id=i.id %}">{{ i.name }}</a></td>
                                  {% if i.description %}<td>{{ i.description}}</td>{% else %}<td></td>{% endif %}
                                  {% if i.close %}<td>выполнено</td>{% else %}<td>актуально</td>{% endif %}
                                  {% if i.price %}<td>{{ i.price|floatformat:2 }}</td>{% else %}<td></td>{% endif %}
                                  <td>{{ i.car }}</td>
                              </tr>
                          {% endfor %}
                    </table>
                    <!-- PAGINATION BLOCK -->
                        {% include "Garage/pagination.html" with obj=page_obj_improvements  tabnumber='10'%}
                    <!-- END PAGINATION -->
                {% else %}
                    <p>У вас нет добавленных улучшений</p>
                {% endif %}
            </div>
        {% endif %}
    </div>
</section>
{% endblock %}