<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
	<title>ClearView</title>
	<meta charset="utf-8">
	<!--[if IE]>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<![endif]-->
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/animations.css">
	<link rel="stylesheet" href="/static/css/fonts.css">
	<link rel="stylesheet" href="/static/css/main.css" class="color-switcher-link">
	<link rel="stylesheet" href="/static/css/shop.css" class="color-switcher-link">
	<script src="/static/js/vendor/modernizr-2.6.2.min.js"></script>
	<!--[if lt IE 9]>
		<script src="/static/js/vendor/html5shiv.min.js"></script>
		<script src="/static/js/vendor/respond.min.js"></script>
		<script src="/static/js/vendor/jquery-1.12.4.min.js"></script>
	<![endif]-->
    <!-- return back when user clicks the Cancel button -->
    <script>
    function goBack() {
      window.history.back();
    }
    </script>
    <!-- end -->
</head>

    <body>
        <!--[if lt IE 9]>
            <div class="bg-danger text-center">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" class="highlight">upgrade your browser</a> to improve your experience.</div>
        <![endif]-->
        <div class="preloader">
            <div class="preloader_image"></div>
        </div>
        <!-- search modal -->
        <div class="modal" tabindex="-1" role="dialog" aria-labelledby="search_modal" id="search_modal"> <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
                <i class="rt-icon2-cross2"></i>
            </span>
        </button>
            <div class="widget widget_search">
                <form method="get" class="searchform search-form form-inline" action="./">
                    <div class="form-group bottommargin_0"> <input type="text" value="" name="search" class="form-control" placeholder="Search keyword" id="modal-search-input"> </div> <button type="submit" class="theme_button no_bg_button">Search</button> </form>
            </div>
        </div>
        <!-- Unyson messages modal -->
        <div class="modal fade" tabindex="-1" role="dialog" id="messages_modal">
            <div class="fw-messages-wrap ls with_padding"></div>
        </div>
        <!-- eof .modal -->
        {% if request.get_full_path != '/accounts/login/' and request.get_full_path != '/accounts/register/' and request.get_full_path != '/accounts/password_reset/'%}
        <!-- wrappers for visual page editor and boxed version of template -->
        <div id="canvas" class="boxed">
            <div id="box_wrapper" class="container">
                <!-- template sections -->
                <section class="page_topline ls table_section table_section_md section_padding_top_10 section_padding_bottom_10">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 col-md-push-3 col-sm-12 text-center">
                                <div class="inline-content">
                                    <span class="greylinks">
                                        <i class="fa fa-pencil highlight rightpadding_5" aria-hidden="true"></i>
                                        <a href="mailto:clearview@example.com">test@test.test</a>
                                    </span>
                                    <span>
                                        <i class="fa fa-clock-o highlight rightpadding_5" aria-hidden="true"></i>
                                        Часы работы: 24/7
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-3 col-md-pull-6 col-sm-6 text-center text-md-left"> <a class="social-icon socicon-facebook" href="#" title="Facebook"></a> <a class="social-icon socicon-twitter" href="#" title="Twitter"></a> <a class="social-icon socicon-google" href="#" title="Twitter"></a> <a class="social-icon socicon-linkedin"
                                    href="#" title="Twitter"></a> <a class="social-icon socicon-youtube" href="#" title="Youtube"></a> </div>
                            <div class="col-md-3 col-sm-6 text-center text-md-right">
                                <div class="widget widget_search">
                                    <form method="get" class="searchform inline-form" action="./">
                                        <div class="form-group-wrap">
                                            <div class="form-group"> <label class="sr-only" for="topline-widget-search">Search for:</label> <input id="topline-widget-search" type="text" value="" name="search" class="form-control" placeholder="Поиск"> </div> <button type="submit" class="theme_button">ok</button>										</div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                {% if user.is_authenticated %}
                    <header class="page_header header_darkgrey header_transparent tall_header toggler_xs_right columns_margin_0">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-12 display_table">
                                    <div class="header_left_logo display_table_cell">
                                        <a href="{% url 'main' %}" class="logo top_logo">
                                            <img src="/static/images/Garage_logo.png" alt="">
                                        </a>
                                    </div>
                                    <div class="header_mainmenu display_table_cell text-center">
                                        <!-- main nav start -->
                                        <nav class="mainmenu_wrapper">
                                            <ul class="mainmenu nav sf-menu">
                                                <li class="active"> <a href="{% url 'cars' %}">Список</a>
                                                </li>
                                                <li> <a>Опции</a>
                                                    <ul>
                                                        <li> <a href="{% url 'insurances' %}">Страховки</a></li>
                                                        <li> <a href="{% url 'car_issues' %}">Проблемы с автомобилями</a> </li>
                                                        <li> <a href="{% url 'repairs' %}">Ремонты</a>
{#                                                            <ul>#}
{#                                                                <li> <a href="team.html">Team</a> </li>#}
{#                                                                <li> <a href="team-single.html">Team Member</a> </li>#}
{#                                                            </ul>#}
                                                        </li>
                                                        <li> <a href="{% url 'improvements' %}">Улучшения</a> </li>
                                                    </ul>
                                                </li>
                                                <!-- eof pages -->
                                                <li> <a href="#">Архив</a>
                                                    <ul>
                                                        <li> <a href="{% url 'archived_cars' %}">Автомобили</a> </li>
                                                        <li> <a href="{% url 'archived_insurances' %}">Страховки</a> </li>
                                                        <li> <a href="{% url 'archived_issues' %}">Проблемы с автомобилями</a> </li>
                                                        <li> <a href="{% url 'archived_repairs' %}">Ремонты</a> </li>
                                                        <li> <a href="{% url 'archived_improvements' %}">Улучшения</a> </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </nav>
                                        <!-- eof main nav -->
                                        <!-- header toggler --><span class="toggle_menu"><span></span></span>
                                    </div>
                                    <div class="header_right_buttons display_table_cell text-right hidden-xs">
                                        <a class="theme_button color1" href="{% url 'logout' %}">Выйти</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </header>
                {% else %}
                    <header class="page_header header_darkgrey header_transparent tall_header toggler_xs_left columns_margin_0">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-12 display_table">
                                    <div class="header_left_logo display_table_cell">
                                        <a href="{% url 'main' %}" class="logo top_logo">
                                            <img src="/static/images/Garage_logo.png" alt="">
                                        </a>
                                    </div>
                                    <div class="header_mainmenu display_table_cell text-center">
                                        <!-- main nav start -->
                                        <nav class="mainmenu_wrapper">
                                            <ul class="mainmenu nav sf-menu">
                                                <li class="active"> <a href="{% url 'main' %}">Главная</a>
                                                </li>
                                                <li> <a href="{% url 'about' %}">О нас</a>
                                                </li>
                                                <!-- eof pages -->
                                                <li> <a href="{% url 'login' %}">Логин</a>
                                                </li>
                                            </ul>
        								</nav>
                                        <!-- eof main nav -->
                                        <!-- header toggler -->
                                        <span class="toggle_menu"><span></span></span>
                                    </div>
                                    <div class="header_right_buttons display_table_cell text-right hidden-xs">
                                        <h5 class="thin text-uppercase margin_0"></h5> <span class="big regular"></span> </div>
                                </div>
                            </div>
                        </div>
                    </header>
                {% endif %}
                {% block content %} {% endblock %}
                <section id="partners" class="cs section_padding_top_40 section_padding_bottom_40">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <div class="owl-carousel partners-carousel" data-responsive-xlg="9" data-responsive-lg="7" data-responsive-md="5" data-responsive-sm="5" data-responsive-xs="3" data-responsive-xxs="2" data-loop="true" data-center="true"> <a href="#">
                            <img src="/static/images/partners/01.png" alt="" />
                        </a> <a href="#">
                            <img src="/static/images/partners/02.png" alt="" />
                        </a> <a href="#">
                            <img src="/static/images/partners/03.png" alt="" />
                        </a> <a href="#">
                            <img src="/static/images/partners/04.png" alt="" />
                        </a> <a href="#">
                            <img src="/static/images/partners/05.png" alt="" />
                        </a> <a href="#">
                            <img src="/static/images/partners/06.png" alt="" />
                        </a> <a href="#">
                            <img src="/static/images/partners/07.png" alt="" />
                        </a> <a href="#">
                            <img src="/static/images/partners/08.png" alt="" />
                        </a> <a href="#">
                            <img src="/static/images/partners/09.png" alt="" />
                        </a> </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="ds ms page_copyright section_padding_40">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-8 text-center text-sm-left">
                                <p>&copy; 2021. Garage. All Rights Reserved.</p>
                            </div>
                        </div>
                    </div>
                </section>
		</div>
		<!-- eof #box_wrapper -->
	    </div>
	<!-- eof #canvas -->
    {% else %}
        {% block login %} {% endblock %}
    {% endif %}
	<script src="/static/js/compressed.js"></script>
	<script src="/static/js/main.js"></script>
</body>
</html>
