{% extends 'Garage/index.html' %}
{% load static %}
{% block content %}
<section class="page_breadcrumbs ds parallax section_padding_top_15 section_padding_bottom_15">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>Страховки</h2>
                <ol class="breadcrumb greylinks">
                    <li> <a href="#">
                Главная
            </a> </li>
                    <li class="active"> <a href="{% url "insurances" %}">Страховки</a> </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="ls page_portfolio section_padding_top_100 section_padding_bottom_100">
    <div class="container">
        {% if message %}
            <p>{{ message }}</p>
{#            <a class="theme_button color1 min_width_button" href="{% url 'add_insurance' %}">Добавить страховку(ИСПРАВИТЬ)</a>#}
        {% else %}
            <div class="isotope_container isotope row masonry-layout columns_margin_bottom_20">
                <p>{{ insurances }}</p>
                {% for insurance in insurances %}
                <div class="isotope-item col-sm-6 col-md-4 col-lg-3">
                    <div class="vertical-item content-padding rounded overflow_hidden with_background">
                        <div class="item-media"> <img src="/static/img/pattern0.png" alt=""> </div>
                        <div class="item-content bottom_color_border">
{#                            <h4 class="entry-title"> <a href="#">{{ insurance.type }} {{ insurance.start_date }} {{ insurance.end_date }}</a> </h4>#}
                            <p class="content-3lines-ellipsis">{{ insurance.type }} {{ insurance.start_date }} {{ insurance.end_date }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</section>
{% endblock %}