{% extends 'Garage/index.html' %}
{% load static %}
{% block content %}
    <section class="intro_section page_mainslider ds"> <img src="static/images/slide03.jpg" alt="">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="slide_description_wrapper">
                        <div class="slide_description">
                            <div class="intro-layer to_animate" data-animation="fadeInUp">
                                <p class="bold text-uppercase highlight"> добро пожаловать </p>
                                <h3>Мы поможем сохранить историю всех изменений</h3>
                            </div>
                            <div class="intro-layer to_animate" data-animation="fadeInUp">
                                <p>для ваших транспортных средств</p>
                            </div>
                            <div class="intro-layer to_animate" data-animation="fadeInUp">
                                <div class="slide_buttons">
                                    {% if not user.is_authenticated %}
                                        <a href="{% url 'login' %}"class="theme_button color1">Начать</a>
                                    {% else %}
                                        <a href="{% url 'cars' %}"class="theme_button color1">Начать</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <!-- eof .slide_description -->
                    </div>
                    <!-- eof .slide_description_wrapper -->
                </div>
                <!-- eof .col-* -->
            </div>
            <!-- eof .row -->
        </div>
        <!-- eof .container -->
    </section>
    {% include 'Garage/about_company.html' %}
    {% include 'Garage/services.html' %}
{% endblock %}