<section id="services" class="ds section_padding_top_100 section_padding_bottom_100 section_padding_bottom_25">
    <div class="container">
        <div class="row">
            <div class="col-md-12" align="center">
                <div class="small-text big highlight">
                    С GARAGE вы контролируете
                </div>
            </div>
        </div>
        <div class="row with_top_border toppadding_50 topmargin_30">
            <div class="col-md-3 col-sm-6">
                <div class="media">
                    <div class="media-left media-middle">
                        <div class="teaser_icon size_small border_icon image_icon round highlight"> <img src="https://img.icons8.com/ios/50/ffffff/activity-history.png"/> </div>
                    </div>
                    <div class="media-body media-middle">
                        <h5 class="text-uppercase semibold"> <a href="#">История обслуживания</a> </h5>
                            <p>Отслеживание технического обслуживания и его стоимость</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="media">
                    <div class="media-left media-middle">
                        <div class="teaser_icon size_small border_icon image_icon round highlight"> <img src="https://img.icons8.com/ios/50/ffffff/car-insurance-card.png"/> </div>
                    </div>
                    <div class="media-body media-middle">
                        <h5 class="text-uppercase semibold"> <a href="#">Страхование</a> </h5>
                            <p>Управление страхавкой и настройка напоминаний</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="media">
                    <div class="media-left media-middle">
                        <div class="teaser_icon size_small border_icon image_icon round highlight"> <img src="https://img.icons8.com/external-kiranshastry-lineal-kiranshastry/64/ffffff/external-service-automobile-kiranshastry-lineal-kiranshastry.png"/> </div>
                    </div>
                    <div class="media-body media-middle">
                        <h5 class="text-uppercase semibold"> <a href="#">Замена запчастей</a> </h5>
                            <p>Добавление стоимости, модели и даты установки запчастей</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="media">
                    <div class="media-left media-middle">
                        <div class="teaser_icon size_small border_icon image_icon round highlight"> <img src="https://img.icons8.com/fluency-systems-regular/48/ffffff/check-document.png"/> </div>
                    </div>
                    <div class="media-body media-middle">
                        <h5 class="text-uppercase semibold"> <a href="#">Инспекция</a> </h5>
                            <p>Создание списка элементов отмеченных как нерабочие </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>