{% extends 'Garage/index.html' %}
{% load static %}
{% block content %}
    <section class="page_breadcrumbs ds parallax section_padding_top_15 section_padding_bottom_15">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2>Изменить текущую проблему</h2>
                    <ol class="breadcrumb greylinks">
                        <li> <a href="#">
                    Главная
                </a> </li>
                        <li class="active">Изменить текущую проблему</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="ls section_padding_top_100 section_padding_bottom_100 columns_padding_25">
        <div class="container">
            <div class="row">
                <form class="contact-form" action="{% url 'update_issue' issue_id=issue.id %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <a class="small-text" data-toggle="modal" data-target="#MyModal" href="{% url 'archive_issue' issue_id=issue.id %}">в архив
                    <span class="glyphicon glyphicon-inbox"></span>
                </a>
                    <div class="col-sm-7 col-md-8 col-lg-9">
                        <p class="contact-form">
                            <input type="text" required="true" size="30" value="{{ issue.name }}" name="name" class="contact-form-name" placeholder="Название поломки" title="название поломки">
                            {% if issue.description %}
                                <input type="text" aria-required="true" size="30" value="{{ issue.description }}" name="description" class="contact-form-issue" placeholder="Описание" title="описание">
                            {% else %}
                                <input type="text" aria-required="true" size="30" value name="description" class="contact-form-issue" placeholder="Описание" title="описание">
                            {% endif %}
                        </p>
                        <p class="contact-form">
                            <input type="date" aria-required="true" size="30" value="{{ issue.date | date:"Y-m-d" }}" name="date" class="contact-form-date" placeholder="Дата создания" title="дата создания поломки">
                        </p>
                        <p>
                            <p>Состояние поломки:</p>
                                <div>
                                    <input type="checkbox" aria-required="false" size="30" value="True" name="open" class="contact-form-open" placeholder="Статус поломки" title="статус поломки"> актуальна
                                </div>
                            {% if cars %}
                                    <p class="contact-form">
                                        <label for="car">Выбери автомобиль у которого возникла поломка:</label>
                                        <select name="car" id="car_id" value="{{ car.id }}" title="автомобиль">
                                            {% if car %}
                                                <option value="{{ car.id }}">{{ car.producer }}, {{ car.model }}</option>
                                                {% for car in cars %}
                                                    <option value="{{ car.id }}">{{ car.producer }}, {{ car.model }}</option>
                                                {% endfor %}
                                            {% endif %}
                                        </select>
                                    </p>
                            {% endif %}
                        </p>
                        <input type="submit" value="Сохранить" class="btn-default">

                        <button type="button" class="theme_button min_width_button btn-danger" data-toggle="modal" data-target="#MyModal" href="{% url 'delete_issue' issue_id=issue.id %}">Удалить <span class="glyphicon glyphicon-trash"> </span></button>
                        <a class="theme_button color1 min_width_button" href="{% url 'car_profile' car_id=car.id %}">Отменить</a>
                    </div>
                </form>

                <!-- Popup for sending insurance to the archive -->
                <div id ="MyModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        </div>
                    </div>
                </div>
                <!-- End Popup -->
            </div>
        </div>
    </section>
{% endblock %}

