{% extends 'Garage/index.html' %}
{% load static %}
{% block content %}
    <section class="page_breadcrumbs ds parallax section_padding_top_15 section_padding_bottom_15">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2>Изменить улучшение</h2>
                    <ol class="breadcrumb greylinks">
                        <li> <a href="#">
                    Главная
                </a> </li>
                        <li class="active">Изменить улучшение</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="ls section_padding_top_100 section_padding_bottom_100 columns_padding_25">
        <div class="container">
            <div class="row">
                <form class="contact-form" action="{% url 'update_improvement' impr_id=improvement.id %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <a class="small-text" data-toggle="modal" data-target="#MyModal" href="{% url 'archive_improvement' impr_id=improvement.id %}">в архив
                    <span class="glyphicon glyphicon-inbox"></span>
                </a>
                    <div class="col-sm-7 col-md-8 col-lg-9">
                        <p class="contact-form">
                            <input type="text" required="true" size="30" value="{{ improvement.name }}" name="name" class="contact-form-name" placeholder="Название" title="название">
                            {% if improvement.description %}
                                <input type="text" aria-required="true" size="30" value="{{ improvement.description }}" name="description" class="contact-form-description" placeholder="Описание" title="описание">
                            {% else %}
                                <input type="text" aria-required="true" size="30" value name="description" class="contact-form-description" placeholder="Описание" title="описание">
                            {% endif %}
                        </p>
                        <p>
                            <input type="float" aria-required="false" size="30" value="{{ improvement.price|stringformat:".2f" }}" name="price" class="contact-form-price" placeholder="Стоимость" title="стоимость">
                            <p>Состояние улучшения:</p>
                                <p>
                                    <input type="checkbox" aria-required="false" size="30" name="close" class="contact-form-close" title="статус улучшения"{% if improvement.close %} checked{% endif %}> устранено
                                </p>
                            {% if cars %}
                                    <p class="contact-form">
                                        <label for="car">Выбери автомобиль:</label>
                                        <select name="car" id="car_id" value="{{ car.id }}" title="застрахованный автомобиль">
                                            {% if car %}
                                                <option value="{{ car.id }}">{{ car.producer }}, {{ car.model }}</option>
                                                {% for car in cars %}
                                                    <option value="{{ car.id }}">{{ car.producer }}, {{ car.model }}</option>
                                                {% endfor %}
                                            {% endif %}
                                        </select>
                            {% endif %}
                        </p>
                        <input type="submit" value="Сохранить" class="btn-default">

                        <button type="button" class="theme_button min_width_button btn-danger" data-toggle="modal" data-target="#MyModal" href="{% url 'delete_improvement' impr_id=improvement.id %}">Удалить <span class="glyphicon glyphicon-trash"> </span></button>
                        <input class="theme_button color1 min_width_button" type="button" value="Отменить" onclick="goBack()">
                    </div>
                </form>

                <!-- Popup for sending insurance to the archive -->
                <div id ="MyModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        </div>
                    </div>
                </div>
                <!-- End Popup -->
            </div>
        </div>
    </section>
{% endblock %}

