{% extends 'Garage/index.html' %}
{% load static %}
{% block content %}
    <section class="page_breadcrumbs ds parallax section_padding_top_15 section_padding_bottom_15">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2>Изменить данные о страховке</h2>
                    <ol class="breadcrumb greylinks">
                        <li>Опции</li>
                        <li class="active"> <a href="{% url "car_profile" car_id=car.id %}">Машина</a> </li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="ls section_padding_top_100 section_padding_bottom_100 columns_padding_25">
        <div class="container">
            <div class="row">
                <form class="contact-form" action="{% url 'update_insurance' insrnc_id=insrnc.id %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <a class="small-text" data-toggle="modal" data-target="#ArchivedInsurance" href="{% url 'archive_insurance' insrnc_id=insrnc.id %}">в архив
                    <span class="glyphicon glyphicon-inbox"></span>
                </a>
                    <div class="col-sm-7 col-md-8 col-lg-9">
                        <p class="contact-form">
                            <input type="text" required="true" size="30" value="{{ insrnc.type }}" name="type" class="contact-form-producer" placeholder="Тип страховки" title="тип страховки">
                            <input type="text" aria-required="false" size="30" value="{{ insrnc.description }}" name="description" class="contact-form-producer" placeholder="Описание" title="описание">
                        </p>
                        <p class="contact-form">
                            <input type="text" aria-required="false" size="30" value="{{ insrnc.policy_number }}" name="policy_number" class="contact-form-year" placeholder="Номер полиса" title="номер полиса">
                            <input type="date" required="true" size="30" value="{{ insrnc.start_date | date:"Y-m-d" }}" name="start_date" class="contact-form-mileage" placeholder="Дата начала" title="дата начала страховки">
                            <input type="date" required="true" size="30" value="{{ insrnc.end_date | date:"Y-m-d" }}" name="end_date" class="contact-form-mileage" placeholder="Дата окончания" title="дата окончания страховки">
                                {{ form_insrnc.non_field_errors }}
                        </p>
                        <p class="contact-form">
                            <input type="number" aria-required="false" size="30" value="{{ insrnc.price|stringformat:".2f" }}" name="price" class="contact-form-price" placeholder="Стоимость" title="стоимость">
                                {{ errors.price }}
                            {% if cars %}
                                <p>
                                    <label for="car">Выбери автомобиль который был застрахован:</label>
                                    <select name="car" id="car_id" value="{{ car.id }}" title="застрахованный автомобиль">
                                        {% if car %}
                                            <option value="{{ car.id }}">{{ car.producer }}, {{ car.model }}</option>
                                            {% for car in cars %}
                                                <option value="{{ car.id }}">{{ car.producer }}, {{ car.model }}</option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                </p>
                            {% endif %}
                        </p>
                        <input type="submit" value="Сохранить" class="btn-default">

                        <button type="button" class="theme_button min_width_button btn-danger" data-toggle="modal" data-target="#DeleteInsurance" href="{% url 'delete_insurance' insrnc_id=insrnc.id %}">Удалить <span class="glyphicon glyphicon-trash"> </span></button>
                        <input class="theme_button color1 min_width_button" type="button" value="Отменить" onclick="goBack()">
                    </div>
                </form>

                <!-- Popup for sending insurance to the archive -->
                {% with ids='ArchivedInsurance DeleteInsurance' %}
                    {% for id in ids.split %}
                        <div id ="{{ id }}" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endwith %}
                <!-- End Popup -->
            </div>
        </div>
    </section>
{% endblock %}

