{% extends 'Garage/index.html' %}
{% load static %}
{% block login %}
<head>
    <link rel="stylesheet" href="/static/registration/css/style.css">
</head>
    <div class="login-wrap">
        <div class="login-html">
            <h4 align="center">Активация</h4>
            Ваша учетная запись активирована
            <div class="hr"></div>
            <div align="center">
                <a href="{% url 'login' %}">Перейти на сайт?</a>
            </div>
        </div>
    </div>
{% endblock %}
