{% extends 'Garage/index.html' %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="/static/registration/css/style.css">
</head>
    <div class="login-wrap">
	    <div class="login-html">
            <h4 align="center">Ошибка регистрации</h4>
            <p>Регистрация новых учетных записей пользователей отключена.</p>
            <div class="hr"></div>
            <div align="center"><a href="{% url 'django_registration_register' %}">Зарегистрироваться?</a></div>
        </div>
    </div>
{% endblock %}